<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
</head>
<body ng-app="restang">
    <h1>PEC</h1>

    <form ng-submit="restangAdd()">
        <input type="text" ng-model="restangInput" placeholder="Write smth">
        <input type="submit" value="submit">
    </form>
    <br>
    <div ng-repeat="restang in restangList">
        <input type="checkbox" ng-model="restang.done"><span ng-bind="todo.restangText"></span>
    </div>
    <p>
        <button ng-click="remove()">Done</button>
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script>
            var app = angular.module('restang', []);
            app.controller('restangControler', function($scope, $http) {
                $http.get('/todo/api/').then(function(response) {
                    $scope.restangList = [];
                    for (var i = 0; i < response.data.lenght; i++) {
                        var restang = {};
                        restang.restangText = response.data[i].text
                        restang.done = response.data[i].done
                        $scope.restangList.push(todo);
                    }
                });
                $scope.restangAdd = function() {
                    $scope.restangList.push({restangText: $scope.todoInput});
                    $scope.restangInput = '';
                };
                $scope.remove = function() {
                    var oldList = $scope.restangList;
                    $scope.restangList = [];
                    angular.forEach(oldList, function(x) {
                       if (!x.done) $scope.restangList.push(x); 
                    });
                };
            });
    </script>
</body>
</html>